<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.PetSitter.PetSitterMapper">
    <resultMap id="petSitterMap" type="back.model.petSitter.PetSitter">
        <result property="sitterName" column="SITTER_NAME"/>
        <result property="content" column="CONTENT"/>
    </resultMap>

    <select id="getPetSitterList" resultMap="petSitterMap">
        SELECT SITTER_NAME, CONTENT
        FROM SITTER_LIST
    </select>
</mapper>
