<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PetSitterMapper"> <!-- 매퍼의 네임스페이스 설정 -->

    <resultMap id="petSitterMap" type="model.petSitter.PetSitter">
        <result property="sitterName" column="SITTER_NAME"/>
        <result property="content" column="CONTENT"/>
    </resultMap>

    
    <!-- 예약신청 목록 조회 list에 필요한애 -->
    <select id="getPetSitterList" resultMap="petSitterMap">
	SELECT SITTER_NAME, CONTENT
        FROM SITTER_LIST
    </select>
    
</mapper>
