<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.auth.AuthMapper">

    <!-- 네이버 ID로 사용자 조회 -->
    <select id="findByNaverId" parameterType="String" resultType="back.model.user.User">
        SELECT
            user_id AS userId,
            username,
            password,
            email,
            create_dt AS createDt,
            del_yn AS delYn,
            phonenumber,
            gender,
            BIRTH_DATE AS birthdate,
            role,
            nickname,
            naver_id AS naverId
        FROM users
        WHERE naver_id = #{naverId}
    </select>

    <!-- 네이버 사용자 등록 -->
    <insert id="insertNaverUser" parameterType="back.model.user.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (
            naver_id,
            username,
            email,
            create_dt,
            del_yn,
            role
        ) VALUES (
            #{naverId},
            #{username},
            #{email},
            NOW(),
            'N',
            'ROLE_USER'
        )
    </insert>
	<!-- 카카오 ID로 사용자 조회 -->
	<select id="findByKakaoId" parameterType="String" resultType="back.model.user.User">
	    SELECT
	        user_id AS userId,
	        username,
	        password,
	        email,
	        create_dt AS createDt,
	        del_yn AS delYn,
	        phonenumber,
	        gender,
	        birth_date AS birthdate,
	        role,
	        nickname,
	        kakao_id AS kakaoId
	    FROM users
	    WHERE kakao_id = #{kakaoId}
	</select>
	
	<!-- 카카오 사용자 등록 -->
	<insert id="insertKakaoUser" parameterType="back.model.user.User" useGeneratedKeys="true" keyProperty="userId">
	    INSERT INTO users (
	        kakao_id,
	        username,
	        email,
	        create_dt,
	        del_yn,
	        role
	    ) VALUES (
	        #{kakaoId},
	        #{username},
	        #{email},
	        NOW(),
	        'N',
	        'ROLE_USER'
	    )
	</insert>
</mapper>