<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"><!--화면 틀-->
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">기본 타이틀</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js?ver=1.1111"></script> <!--모든 화면에 다들어감-->
</head>
<body>
    <!-- 헤더 -->
    <div th:replace="~{fragments/header :: header}"></div> <!--모든 것을 갖고옴-->

    <!-- 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div> <!--사이드바 부분을 다 갖고와-->

    <!-- 본문 -->
    <div layout:fragment="content">
        <!-- 여기로 개별 페이지 내용이 들어옴 -->
    </div>

    <!-- 푸터 -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
