<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"><!--화면 틀-->
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">기본 타이틀</title>
    <title layout:title-pattern="$CONTENT_TITLE - MySite" th:replace="~{fragments/header :: head}">타이틀</title> <!--모든 화면에 다들어감-->
</head>
<body>
    <!-- 헤더 -->
    <div th:replace="~{fragments/header :: header}"></div> <!--모든 것을 갖고옴-->


	<div layout:insert="~{::content}"></div>
</body>
</html>
