<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
	<script src="/js/tinymce/tinymce.min.js?ver=1"></script>
    <script src="/js/edit.js?ver=1"></script>

    <script>
    	let boardId = '[[${id}]]';
        $(document).ready(function () {
        	
            let edit = editInit("content");

            let fileObj = setupFileUploadUpdate({
                dropZone: '#dropZone',
                fileInput: '#files',
                newFileList: '#newFileList',
                existingFileList: '#existingFileList',
                remainingFileIds: '#remainingFileIds',
                maxFileSize: 10 * 1024 * 1024 // 10MB
            });

            // 게시글 정보 조회, 갖다가 넣어준다. 셋팅 부분만 달라짐. GET방식으로 얻어오기
            ajaxRequest( 
            	'[[${apiBaseUrl}]]/api/board/view.do', 
            	{ boardId: boardId }, 
            	function (response) {
            		const board = response.data;
	                $("#title").val(board.title);
	                $("#content").val(board.content);
	                $("#boardId").val(board.boardId);
	                $("#viewCount").val(board.viewCount);
	
	                if (board.postFiles && board.postFiles.length > 0) {
	                    let html = "";
	                    for (let file of board.postFiles) {
	                        html += `
	                            <li>
	                                ${file.fileName}
	                                <button name="removeBtn" data-file="${file.fileId}">제거</button>
	                                <a href="[[${apiBaseUrl}]]/api/file/down.do?fileId=${file.fileId}">다운로드</a>
	                            </li>`;
	                    }
	                    $("#existingFileList").html(html); // 기존파일을 넣어주는 작업이 바뀜.예전파일라스트
	                    fileObj.existingFileListFind(); // 예전파일 리스트를 가져옴. 가져올 때 이전 정보를 갱신함. 안지워지는 애들만 뽑아옴. 서버에서 필터링을 한다.
	                }
	                if(gUserId && gUserId == board.createId){
                    	$('#btnArea').show(); //수정 삭제 버튼이 보이게 한다.
            		} 
	            }
            );

            $("#deleteBtn").click(function (event) {
                event.preventDefault();
				let formData = new FormData();
				formData.append("boardId", $("#boardId").val());
                ajaxRequestFile(
	                "[[${apiBaseUrl}]]/api/board/delete.do", 
	                formData, 
	                function (response) {
	                    if (response.success) {
	                        alert("게시글 삭제 성공! 게시판 목록으로 이동합니다.");
	                        window.location.href = "/board/list.do";
	                    } else {
	                        alert("게시글 삭제 실패: " + response.message);
	                    }
	                }
                );
            });

            $("#updateBtn").click(function (event) {
                event.preventDefault();

                let title = $("#title").val().trim();
                let content = tinymce.get('content').getContent({ format: 'text' });

                if (!validationUtil.isEmpty(title)) {
                    alert("제목을 입력해주세요.");
                    $("#title").focus();
                    return;
                }
                if (!validationUtil.maxLength(title, 100)) {
                    alert("제목은 최대 100자까지 입력할 수 있습니다.");
                    $("#title").focus();
                    return;
                }
                if (!validationUtil.isEmpty(content)) {
                    alert("내용을 입력해주세요.");
                    return;
                }
                if (!validationUtil.maxLength(content, 2000)) {
                    alert("내용은 최대 2000자까지 입력할 수 있습니다.");
                    return;
                }

                let formData = new FormData();
                formData.append("boardId", $("#boardId").val());
                formData.append("title", title);
                formData.append("content", tinymce.get('content').getContent());
                formData.append("viewCount", 0);

                let uploadedFiles = fileObj.getUploadedFiles();
                for (let i = 0; i < uploadedFiles.length; i++) {
                    formData.append("files", uploadedFiles[i]);
                }

                fileObj.updateRemainingFileIds();
                formData.append("remainingFileIds", $('#remainingFileIds').val());
                ajaxRequestFile(
                	"[[${apiBaseUrl}]]/api/board/update.do", 
                	formData, 
                	function (response) {
	                    if (response.success) {
	                        alert("게시글 수정 성공! 게시판 목록으로 이동합니다.");
	                        window.location.href = "/board/list.do";
	                    } else {
	                        alert("게시글 수정 실패: " + response.message);
	                    }
	                }
                );
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <h2>게시글 수정</h2>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" maxlength="100" placeholder="제목 입력" />
        <br/>
        <label for="content">내용:</label>
        <textarea rows="5" cols="40" id="content" name="content"></textarea>
        <br/>
        <input type="hidden" id="remainingFileIds" name="remainingFileIds" value="">
        <input type="hidden" id="viewCount" name="viewCount" value=""/>
        <input type="hidden" id="boardId" name="boardId" value=""/>
    

    <ul id="existingFileList"></ul>

    <div id="dropZone">여기로 파일을 드래그하거나 클릭하여 선택하세요.</div>
    <input type="file" id="files" name="files" multiple style="display: none;">
    <ul id="newFileList"></ul>
	<div id="btnArea" style="display:none;">
	    <button type="button" id="updateBtn">게시글 수정</button>
	    <button type="button" id="deleteBtn">게시글 삭제</button>
    </div>
    <a href="/user/login.html">로그인 페이지로 이동</a>
</div>
</body>
</html>

