<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <script>
        $(document).ready(function () {
            $("#searchBtn").click(function () {
                loadBoardList(1, false);
            });

            $("#searchBtn").click(); // 초기 로딩
            
            
        });

        function loadBoardList(currentPage, checkP) {
        	
        	let searchText;
        	let startDate;
        	let endDate; 
        	
        	if(!checkP) {
				 searchText = $("#searchText").val();
		         startDate = $("#startDate").val();
		         endDate = $("#endDate").val();
			} else {
				 searchText = $("#bSearchText").val();
		         startDate = $("#bStartDate").val();
		         endDate = $("#bEndDate").val();
			}
           
            ajaxRequest(
                '[[${apiBaseUrl}]]/api/board/list.do',
                {
                    searchText,
                    startDate,
                    endDate,
                    page: currentPage
                },
                function (response) {
                    if (response.success) {
                    	let board = response.data.board;
                    	$("#searchText").val(board.searchText);
                        $("#startDate").val(board.startDate);
                        $("#endDate").val(board.endDate);
                        
                        $("#bSearchText").val(board.searchText);
                        $("#bStartDate").val(board.startDate);
                        $("#bEndDate").val(board.endDate);
                        
                        renderTable(response.data.list);
                        renderPagination("pagination", board);
                    } else {
                        alert("목록 조회 실패: " + response.message);
                    }
                }
            );
        }

        function renderTable(list) {
            let html = "";
            if (list.length === 0) {
                html += "<tr><td colspan='6'>게시글이 없습니다.</td></tr>";
            } else {
                $.each(list, function (index, board) {
                    html += `
                        <tr>
                            <td>${board.rn}</td>
                            <td>${board.title}</td>
                            <td>${board.createId}</td>
                            <td>${board.viewCount}</td>
                            <td>${board.createDt}</td>
                            <td><a href="/board/view.do?id=${board.boardId}">보기</a></td>
                        </tr>`;
                });
            }
            $("#boardTableBody").html(html);
        }

        function renderPagination(pagination, board) {
            let currentPage = board.page;
            let totalPages = board.totalPages;

            let html = "";

            if (currentPage > 1) {
                html += `<button type="button" onclick="goPage(${currentPage - 1}, true)">&laquo;</button>`;
            }

            for (let i = 1; i <= totalPages; i++) {
                const style = i === currentPage ? "font-weight:bold;" : "";
                html += `<button type="button" onclick="goPage(${i}, true)" style="${style}">${i}</button>`;
            }

            if (currentPage < totalPages) {
                html += `<button type="button" onclick="goPage(${currentPage + 1}, true)">&raquo;</button>`;
            }

            $("#"+pagination).html(html);
        }

        function goPage(page) {
            loadBoardList(page, true);
        }
    </script>
</head>
<body>
	<div layout:fragment="content">
	    <h2>게시판 목록</h2>
	
	    <label>검색어</label>
	    <input type="text" id="searchText" name="searchText"/>
	    <input type="hidden" id="bSearchText" name="bSearchText"/>
	    <label>시작 날짜</label>
	    <input type="date" id="startDate" name="startDate"/>
	    <input type="hidden" id="bStartDate" name="bStartDate"/>
	    <label>종료 날짜</label>
	    <input type="date" id="endDate" name="endDate"/>
	    <input type="hidden" id="bEndDate" name="bEndDate"/>
	    <button type="button" id="searchBtn">검색</button>
	
	    <table>
	        <thead>
	        <tr>
	            <th>번호</th>
	            <th>제목</th>
	            <th>작성자</th>
	            <th>조회수</th>
	            <th>작성일</th>
	            <th>상세보기</th>
	        </tr>
	        </thead>
	        <tbody id="boardTableBody">
	        <!-- JS로 게시글 렌더링 -->
	        </tbody>
	    </table>
	
	    <div id="pagination" class="mt-2">
	        <!-- JS로 페이지네이션 렌더링 -->
	    </div>
	
	    <a href="/">메인 페이지로 이동</a>
	</div>
</body>
</html>