<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.mapper.reservation.ReservationMapper">

    
	    <insert id="insertReservation" parameterType="back.model.reservation.Reservation">
		    INSERT INTO reservation (
		        reservation_id, 
		        start_date, 
		        end_date, 
		        reservation_date,
		        address, 
		        variety, 
		        pet_name,
		        phonenumber, 
		        sitter, 
		        price, 
		        reply, 
		        create_id,
		        update_id, 
		        create_dt, 
		        update_dt, 
		        del_yn,
		        addressdetail
		    ) VALUES (
		        reservation_seq.NEXTVAL, 
		        #{startDate, jdbcType=DATE}, 
		        #{endDate, jdbcType=DATE}, 
		        SYSDATE,
		        #{address}, 
		        #{variety}, 
		        #{petName},
		        #{phoneNumber}, 
		        #{sitterName}, 
		        #{price, jdbcType=INTEGER}, 
		        #{reply, jdbcType=VARCHAR},
		        #{createId, jdbcType=VARCHAR},
		        #{updateId, jdbcType=VARCHAR},
		        SYSDATE, 
		        SYSDATE, 
		        'N',
		        #{addressDetail}
		    )
		</insert>
		
		<select id="selectAllReservations" resultType="back.model.reservation.Reservation">
		    SELECT 
		        reservation_id,
		        start_date,
		        end_date,
		        reservation_date,
		        address,
		        variety,
		        pet_name,
		        phonenumber,
		        sitter,
		        price,
		        reply,
		        create_id,
		        update_id,
		        create_dt,
		        update_dt,
		        del_yn,
		        addressdetail
		    FROM reservation
		    WHERE del_yn = 'N'
		    ORDER BY reservation_date DESC
		</select>
		
		<select id="getReservationList" parameterType="back.model.reservation.Reservation" resultType="back.model.reservation.Reservation">
		    SELECT 
		        reservation_id,
		        start_date,
		        end_date,
		        reservation_date,
		        address,
		        variety,
		        pet_name,
		        phonenumber,
		        sitter,
		        price,
		        reply,
		        create_id,
		        update_id,
		        create_dt,
		        update_dt,
		        del_yn,
		        addressdetail
		    FROM reservation
		    WHERE del_yn = 'N'
		    ORDER BY reservation_date DESC
		</select>
</mapper>
