<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>메인 페이지</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<c:choose>
		<c:when test="${empty sessionScope.user}">
			<c:redirect url="/user/login.do" />
		</c:when>
		<c:otherwise>
			${sessionScope.user.username}님 안녕하세요.
			<form method="post" id="logoutForm">
				<input type="hidden" name="id" value="${sessionScope.user.userId}" >
				<button type="submit">로그아웃</button>
			</form>
			<a href="/user/userInfo.do">유저정보 페이지로 이동</a>
			<script>
		        $(document).ready(function() {
		        	//로그아웃 폼에 섬밋이벤트시 작동
		            $("#logoutForm").submit(function(event) {
		                event.preventDefault(); // 기본 폼 제출 방지
		
		                $.ajax({
		                    url: '/user/logout.do', // 로그인 요청 URL
		                    type: 'POST',
		                    data: $(this).serialize(), // 폼 데이터 직렬화
		                    dataType: 'json',
		                    success: function(response) {
		                        // 응답 처리
		                        if (response.success) {
		                            alert("로그아웃에 성공하셨습니다.");
		                            window.location.href = '/user/login.do'; // 로그인 성공 후 메인 페이지로 이동
		                        } else {
		                        	alert("로그아웃에 실패하셨습니다.");
		                        }
		                    },
		                    error: function() {
		                    	alert("통신 실패");
		                
		                    }
		                });
		            });
		        });
		    </script>
		</c:otherwise>
	</c:choose>
</body>
</html>